.edit-single-post{
  .content_single{
    margin-top: 15px;
    img{
      width: 100%;
      height: auto;
    }
    h1{
      margin: 15px 0;
      float: left;
    }
    span.count-views{
      float: left;
      margin-top: 20px;
      margin-left: 8px;
    }
    .content-single-post{
      clear: both;
    }
    .plugin-fb-cmt{
      width: calc(100% + 16px);
      margin-left: -8px;
      margin-top: 15px;
      margin-bottom: -12px;
    }
  }

  #secondary {
    margin-top: 0px !important;
  }


}

.search,.single-post{
  .main{
    @media screen and (max-width: 991px){
      margin-top: 15px !important;
    }
  }

  .sidebar_main.sc{
    .row_fix {
      margin-top: -21px;
    }
    #secondary{
      margin-top: 35px !important;
    }
  }
  .main {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}